@import "../_mixins.less";

.share-base { padding:4px; font-size:22px; .vertical-align(20px); cursor:pointer; box-sizing:content-box; -moz-box-sizing:content-box; .border-radius(3px);
	&.share-twitter { background:#55ACEE; color:white; }
}