@import "../_mixins.less";

.twitter {
    img { width:40px; height:40px; .border-radius(3px); }
    
    div.profile {
        @size:40px;
        
        >div.profile-image { float:left; width:@size; padding-right:15px; height:@size;
            >img { width:@size; height:@size; }
        }
        
        >div.profile-info { float:left; width:100%; margin-left:@size*-1; padding-left:@size; }
    }
}